.fl-column {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.fl-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: stretch;
  align-content: stretch;
  gap: 0.5rem;
}

.level {
  width: 20px;
  min-width: 100px;
}
