.item {
    position: relative;
    border-color: rgba(128, 128, 128, .5);
    border-radius: .25rem;
    border-style: solid;
    border-width: 1px;
    padding: .5rem;
    overflow: hidden;
    display: inline-block;
    width: calc(100% - 1rem);
}

.title {
    font-size: large;
    font-weight: bold;
}

.summary {
    word-wrap: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}