:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fl-column {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.top {
  display: flex;
  flex-direction: column;
  margin-bottom: .25rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: .25rem;
}