@for (item of (list$ | async); track item.id) {
<div mat-list-item class="list-item">
  <button matButton class="label" (click)="selectCharacter(item.id)">
    {{ item.name }}
  </button>
  <button matIconButton (click)="openCharacterDialog(item.id)">
    <mat-icon>edit</mat-icon>
  </button>
  <button matIconButton color="warn" (click)="deleteCharacter(item.id)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
}
<button class="add-btn" matButton (click)="openCharacterDialog()">
  <mat-icon>add</mat-icon>Add
</button>
